#container {
	background-image: url(./photos/Space_Needle1.png);
	background-size: cover;
	background-repeat: no-repeat; 
}

#baseplate {
	margin-right: 50px;
	margin-left: 50px;
}

.bullets-container {
	height: 0%;
}

#headshot {
	border-style: solid;
	border-color: white;
	border-width: thick;
	width: 16%;
	margin-top: 50px;
	margin-left: 1000px;
	position: absolute;
}

#gus {
	color: white;
	font-size: 700%;
	font-family: 'Alegreya Sans', sans-serif;
}

#intro {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 300%;
	color: white;
}

.container-fluid {
	font-size: 300%;
}

.section-main-header-1 {
	text-align: center;
	color: white;
	font-family: 'Alegreya Sans', sans-serif;
}

#about-blurb {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 200%;
	color: white;
	word-wrap: break-word;
	margin-bottom: 100px;
}

.left-float-col-s6 {
	font-family: 'Alegreya Sans', sans-serif;
	text-align: center;
	color: black;
	font-size: 150%
}

.section-main-header {
	text-align: center;
	color: white;
	font-family: 'Alegreya Sans', sans-serif;
	margin-bottom: 100px;
	margin-top: 100px;
}

#tictactoe, #trivia, #chapel, #cappstone {
	width: 200%;
}

#email, #phone {
	outline-width: 2px;
	outline-color: white;
	outline-style: solid;
	color: white;
	font-family: 'Alegreya Sans', sans-serif;
	width: 400px;
}

#linkedin, #github {
	outline-width: 2px;
	outline-color: white;
	outline-style: solid;
	color: white;
	font-family: 'Alegreya Sans', sans-serif;
	width: 503px;
}

#phone-card {
	padding-left: 0px;
}

a {
	color: white;
}
