body {
	background-image: url(Space_Needle.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.navbar {
	background-color: #009933;
	font-family: 'Alegreya Sans', sans-serif;
}

#mugshot {
/*	float: right;
	margin-top: 60px;
	margin-right: 200px;*/
	background-image: 300%;
}

#intro {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 200%;
	color: white;
	word-wrap: break-word;
}

.container-fluid {
	font-size: 300%;
}

h1 {
	color: white;
	font-family: 'Alegreya Sans', sans-serif;
}

#scrollto-section-1 {
	text-align: center;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.section-main-header-1 {
	text-align: center;
	color: #009933;
}

#about-blurb {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 200%;
	color: #009933;
	word-wrap: break-word;
}

.left-float-col-s6 {
	text-align: center;
	color: white;
	/*list-style-type: circle; !important;*/
}

ul li {
	list-style-type: disc;
}

#scrollto-section-2 {
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.section-main-header {
	text-align: center;
	color: white;
}

#scrollto-section-3 {
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.bullets-container {
	height: 0%;
}

.broswer-default {

}

