body {
	background-image: url(Space_Needle.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.bullets-container {
	height: 0%;
}

#headshot {
	border-style: solid;
	border-color: white;
	border-width: thick;
	width: 16%;
	margin-top: 50px;
	margin-left: 1000px;
	position: absolute;
}

#gus {
	color: white;
	font-size: 700%;
}

#intro {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 300%;
	color: white;
}

.container-fluid {
	font-size: 300%;
}

#scrollto-section-1 {
	text-align: center;
}

.section-main-header-1 {
	text-align: center;
	color: #009933;
	font-family: 'Alegreya Sans', sans-serif;
}

#about-blurb {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 200%;
	color: #009933;
	word-wrap: break-word;
}

.left-float-col-s6 {
	text-align: center;
	color: black;
	font-size: 150%
}

#scrollto-section-2 {
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.section-main-header {
	text-align: center;
	color: white;
}

#scrollto-section-3 {
	border-style: solid;
	border-color: white;
	border-width: 2px;
}


